
body{
    background-color: rgb(204, 85, 0);
    direction: ltr;
    text-align: left;
}
table{
    border-collapse: collapse;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.7);
    width: 95vw;
    height: 95vh;
    margin: 2%;
    text-align: center;
    column-count: 10;
}

th{
    color: rgb(204, 85, 0);
    border-color:rgb(204, 85, 0);
    padding: 1.5%;
}
tr{
    color: rgb(204, 85, 0);
    border-style: solid;
    border-color: rgb(204, 85, 0);
    padding: 1.5%;
}
td{
    padding: 0.5%;
    width: 9.5vw;
}
.title{
    color:rgb(204, 85, 0);
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 95%;
}
.photos img, .about-me img{
    width:150px;
    border-radius: 10px;
    padding: 5px;
}

.visible-alt::after {
    content: attr(alt);
    display: block;
    margin-top: 5px;
    color: #000000;
    font-style: italic;
}

a {
    text-decoration: none;
    color: rgb(204, 85, 0);          
    font-size: 100%;    
    transition: all 0.3s;  
}

a:hover {
    font-size: 100%;
    color: rgb(84, 35, 0);       
    text-decoration: underline; 
}

a:visited {
    font-size: 100%;
    color: rgb(233, 161, 113);
}

a:visited:hover{
    font-size: 100%;
    text-decoration: underline;
    color: rgb(124, 76, 42);
}
.photo-caption{
    font-size: 60%;
    font-style: italic;
}